html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

main {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.attempt {
    margin-bottom: 10px;
}

.guess-correct {
    background-color: green;
    color: white;
}

.guess-position {
    background-color: yellow;
    color: black;
}

.guess-incorrect {
    background-color: gray;
    color: white;
}
